/* ---- reset ---- */

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.color-pink {
  color: #f60df6;
}

.color-pink-input-placeholder {
  color: rgba(246, 13, 246, .26);
}

.logo {
  width: 290px;
  max-width: none;
}

.selected-pink {
  background-color: rgba(246, 13, 246, .26);
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #ffffff;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Carousel */

.carousel-icon {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  display: inline-block;
  height: 5.5em;
  outline: medium none;
  overflow: visible;
  position: relative;
  text-indent: -9999rem;
  width: 5.5em;
  z-index: 2;
}

.carousel-icon img {
  bottom: 0;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center center 0;
  transition: transform 0.25s cubic-bezier(0, 0.6, 0.7, 1) 0s, -webkit-transform 0.25s cubic-bezier(0, 0.6, 0.7, 1) 0s;
  width: 100%;
  z-index: 5;
}

.carousel-icon::before {
  background: #ec008c none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 23%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center 0;
  transition: transform 0.25s cubic-bezier(0, 0.6, 0.7, 1) 0s, -webkit-transform 0.25s cubic-bezier(0, 0.6, 0.7, 1) 0s;
  width: 23%;
  z-index: -1;
}

.carousel-icon:hover:before {
  transform: translate(-50%, -50%) scale(4) !important;
}

.carousel-icon:hover img {
  transform: scale(0.75);
}

.carousel-icon.bottom:before {
  transform: translate(100%, -50%)
}

.carousel-icon.right::before {
  transform: translate(100%, -50%);
}

/* BootStrap */
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

@media (min-width: 576px) {
  .float-sm-left {
    float: left !important;
  }
  .float-sm-right {
    float: right !important;
  }
  .float-sm-none {
    float: none !important;
  }
}

@media (min-width: 768px) {
  .float-md-left {
    float: left !important;
  }
  .float-md-right {
    float: right !important;
  }
  .float-md-none {
    float: none !important;
  }
}

@media (min-width: 992px) {
  .float-lg-left {
    float: left !important;
  }
  .float-lg-right {
    float: right !important;
  }
  .float-lg-none {
    float: none !important;
  }
}

@media (min-width: 1200px) {
  .float-xl-left {
    float: left !important;
  }
  .float-xl-right {
    float: right !important;
  }
  .float-xl-none {
    float: none !important;
  }
}



.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}